.footer {
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
    height: 50px;
    color: #696969;
    user-select: none;
    font: italic 1.2rem "Fira Sans", serif;
    font-size: 12px;

    -webkit-box-shadow:0px 0px 66px 44px rgba(107,107,107,0.27);
    -moz-box-shadow: 0px 0px 66px 44px rgba(107,107,107,0.27);
    box-shadow: 0px 0px 66px 44px rgba(107,107,107,0.27);
}